<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.BYD.mapper.DealerImageMapper">
    <select id="findByDealerCode" resultMap="dealerImageResultMap">
        SELECT di.*, dit.DEALER_IMAGE_TYPE_NAME, ii.*
        FROM DEALER_IMAGE di
        JOIN DEALER_IMAGE_TYPE dit ON di.DEALER_IMAGE_TYPE_ID = dit.DEALER_IMAGE_TYPE_ID
        JOIN IMAGE_INFO ii ON di.IMAGE_ID = ii.IMAGE_ID
        WHERE di.DEALER_CODE = #{dealerCode}
        ORDER BY ii.UPLOAD_DATE DESC
    </select>

    <select id="findByDealerCodeAndType" resultMap="dealerImageResultMap">
        SELECT di.*, dit.DEALER_IMAGE_TYPE_NAME, ii.*
        FROM DEALER_IMAGE di
        JOIN DEALER_IMAGE_TYPE dit ON di.DEALER_IMAGE_TYPE_ID = dit.DEALER_IMAGE_TYPE_ID
        JOIN IMAGE_INFO ii ON di.IMAGE_ID = ii.IMAGE_ID
        WHERE di.DEALER_CODE = #{dealerCode}
        AND di.DEALER_IMAGE_TYPE_ID = #{typeId}
        ORDER BY ii.UPLOAD_DATE DESC
    </select>

    <select id="findById" resultMap="dealerImageResultMap">
        SELECT di.*, dit.DEALER_IMAGE_TYPE_NAME, ii.*
        FROM DEALER_IMAGE di
        JOIN DEALER_IMAGE_TYPE dit ON di.DEALER_IMAGE_TYPE_ID = dit.DEALER_IMAGE_TYPE_ID
        JOIN IMAGE_INFO ii ON di.IMAGE_ID = ii.IMAGE_ID
        WHERE di.IMAGE_ID = #{imageId}
    </select>

<!--    <insert id="insertImage"-->
<!--            useGeneratedKeys="true"-->
<!--            keyColumn="IMAGE_ID"-->
<!--            keyProperty="imageId">-->
<!--        INSERT INTO IMAGE_INFO (-->
<!--        FILE_PATH,-->
<!--        FILE_NAME,-->
<!--        UPLOADED_BY_USER_ID-->
<!--        ) VALUES (-->
<!--        #{filePath},-->
<!--        #{fileName},-->
<!--        #{uploadedByUserId}-->
<!--        )-->
<!--    </insert>-->

    <insert id="insertImage"
            useGeneratedKeys="true"
            keyColumn="IMAGE_ID"
            keyProperty="imageId">
        INSERT INTO IMAGE_INFO (
        FILE_PATH,
        FILE_NAME,
        UPLOADED_BY_USER_ID
        ) VALUES (
        #{filePath},
        #{fileName},
        #{uploadedByUserId}
        )
    </insert>

    <insert id="insertDealerImage">
        INSERT INTO DEALER_IMAGE (
        IMAGE_ID,
        DEALER_CODE,
        DEALER_IMAGE_TYPE_ID
        ) VALUES (
        #{imageId},
        #{dealerCode},
        #{imageTypeId}
        )
    </insert>

    <select id="getImageTypeIdByName" resultType="java.lang.Long">
        SELECT DEALER_IMAGE_TYPE_ID
        FROM DEALER_IMAGE_TYPE
        WHERE DEALER_IMAGE_TYPE_NAME = #{typeName}
    </select>

    <select id="isValidImageType" resultType="boolean">
        SELECT CASE
        WHEN EXISTS (
        SELECT 1
        FROM DEALER_IMAGE_TYPE
        WHERE DEALER_IMAGE_TYPE_NAME = #{imageType}
        ) THEN 1
        ELSE 0
        END
        FROM DUAL
    </select>

    <select id="findDealerCodeByImageId" resultType="String">
        SELECT DEALER_CODE
        FROM DEALER_IMAGE
        WHERE image_id = #{imageId}
    </select>

    <delete id="deleteImageFromDealerImage">
        DELETE
        FROM DEALER_IMAGE
        WHERE IMAGE_ID = #{imageId}
    </delete>

    <delete id="deleteImageFromImageInfo">
        DELETE
        FROM IMAGE_INFO
        WHERE IMAGE_ID = #{imageId}
    </delete>

</mapper>