<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.BYD.mapper.DealerMapper">
    <!-- Check dealer access based on user position -->
    <select id="checkDealerAccess" resultType="boolean">
        <choose>
            <when test="positionId == 1">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM USER_ACCESS_DEALER
                WHERE USER_ID = #{userId}
                AND DEALER_CODE = #{dealerCode}
            </when>
            <when test="positionId == 2">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                WHERE uar.USER_ID = #{userId}
                AND di.DEALER_CODE = #{dealerCode}
            </when>
            <when test="positionId == 3">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uag.USER_ID = #{userId}
                AND di.DEALER_CODE = #{dealerCode}
            </when>
            <when test="positionId == 4">
                SELECT 1 FROM DUAL
            </when>
            <when test="positionId == 5">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_CITY uac ON di.CITY_ID = uac.CITY_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uac.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.DEALER_CODE = #{dealerCode}
            </when>
            <when test="positionId == 6">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_STATE uas ON di.STATE_ID = uas.STATE_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uas.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.DEALER_CODE = #{dealerCode}
            </when>
            <when test="positionId == 7">
                SELECT CASE
                WHEN COUNT(*) > 0 THEN 1
                ELSE 0
                END
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uar.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.DEALER_CODE = #{dealerCode}
            </when>
            <otherwise>
                SELECT 0 FROM DUAL
            </otherwise>
        </choose>
    </select>

    <!-- Get dealer information -->
    <select id="getDealerInfo" resultMap="dealerInfoResultMap">
        SELECT
        di.DEALER_NUMBER,
        di.DEALER_CODE,
        di.DEALER_NAME,
        di.CORPORATE_NAME,
        di.ADDRESS,
        di.PASSED_TRAINING,
        di.LONGITUDE,
        di.LATITUDE,
        di.CONTACT_NUMBER,
        di.EMAIL,
        di.OPERATION_DATE,
        di.OPERATION_AFTER_SALE,
        di.OPERATION_AFTER_SALE_NOTE,
        di.DEALER_USE_DMS,
        di.DEALER_USE_LMS,
        di.DEALER_USE_TIS,
        di.DEALER_USE_CSI_PORTAL,
        di.DEALER_USE_BYD_PORTAL,
        di.AFTER_SALES_MANAGER_QUANTITY,
        di.SERVICE_ADVISOR_QUANTITY,
        di.WARRANTY_CLAIM_SPECIALIST_QUANTITY,
        di.TECHNICIANS_QUANTITY,
        di.WORKSHOP_LEADER_QUANTITY,
        di.SPARE_PARTS_SPECIALIST_QUANTITY,
        di.TOTAL_AREA,
        di.WORKSHOP_AREA,
        di.TOTAL_BOX,
        di.BOX_WITH_LIFT,
        di.BOX_WITHOUT_LIFT,
        di.AC_CHARGER_QUANTITY,
        di.DC_CHARGER_QUANTITY,
        di.STATUS_VDS,
        di.BATTERY_POOL,
        di.BODY_REPAIR_WORKSHOP_AREA,
        di.BODY_REPAIR_STATION_AREA,
        di.WAREHOUSE_AREA,
        di.POWER_BATTERY_TURNOVER_ROOM_AREA,
        di.RECEPTION_AREA,
        di.CUSTOMER_LOUNGE_AREA,
        di.CUSTOMER_TOILET_AREA,
        di.CHARGING_AREA,
        di.POWERTRAIN_REPAIR_ROOM_AREA,
        di.MOBILE_FIRE_WATER_POOL_AREA,
        di.SERVICE_DIRECTOR_OFFICE_AREA,
        di.BUSINESS_DEVELOPMENT_CENTER_AREA,
        di.MEETING_TRAINING_ROOM_AREA,
        di.WORKSHOP_OFFICE_AREA,
        di.STAFF_LOUNGE_AREA,
        di.TOOL_ROOM_AREA,
        di.WASTE_OIL_AREA,
        di.ELECTRICITY_DISTRIBUTION_ROOM_AREA,
        di.AIR_COMPRESSOR_ROOM_AREA,
        di.WORKSHOP_TOILET_AREA,
        di.PAINT_STORAGE_BLENDING_ROOM_AREA,
        di.CAR_WASHING_AREA,
        di.CLAIM_PARTS_STORAGE_ROOM_AREA,
        di.FINANCE_OFFICE_AREA,
        di.INSURANCE_CLAIM_AREA,
        di.DISASSEMBLED_PARTS_ROOM_AREA,
        di.USED_PARTS_STORAGE_AREA,
        emp.BYD_EMPLOYEE_NAME as REGIONAL_MANAGER_NAME,
        dg.GROUP_NAME,
        br.REGION_NAME as REGION,
        'Brazil' as COUNTRY,
        bs.STATE_ABBREVIATION as STATE,
        bc.CITY_NAME as CITY,
        dot.DEALER_OPERATION_TYPE_NAME as OPERATION_TYPE_NAME,
        dos.DEALER_OPERATION_STATUS_NAME as OPERATION_STATUS_NAME,
        doc.DEALER_OPERATION_CLASS_NAME as OPERATION_CLASS_NAME,
        doss.DEALER_OPERATION_SERVICE_SCOPE_NAME as OPERATION_SERVICE_SCOPE_NAME
        FROM DEALER_INFO di
        LEFT JOIN DEALER_GROUP dg ON di.GROUP_ID = dg.GROUP_ID
        LEFT JOIN BYD_REGION br ON di.REGION_ID = br.REGION_ID
        LEFT JOIN BRAZIL_STATE bs ON di.STATE_ID = bs.STATE_ID
        LEFT JOIN BRAZIL_CITY bc ON di.CITY_ID = bc.CITY_ID
        LEFT JOIN BYD_EMPLOYEE emp ON di.REGIONAL_MANAGER_ID = emp.BYD_EMPLOYEE_ID
        LEFT JOIN DEALER_OPERATION_TYPE dot ON di.OPERATION_TYPE_ID = dot.DEALER_OPERATION_TYPE_ID
        LEFT JOIN DEALER_OPERATION_STATUS dos ON di.OPERATION_STATUS_ID = dos.DEALER_OPERATION_STATUS_ID
        LEFT JOIN DEALER_OPERATION_CLASS doc ON di.OPERATION_CLASS_ID = doc.DEALER_OPERATION_CLASS_ID
        LEFT JOIN DEALER_OPERATION_SERVICE_SCOPE doss ON di.OPERATION_SERVICE_SCOPE_ID = doss.DEALER_OPERATION_SERVICE_SCOPE_ID
        WHERE di.DEALER_CODE = #{dealerCode}
    </select>

    <!-- Get all dealer codes accessible to user -->
    <select id="getUserAccessibleDealers" resultType="string">
        <choose>
            <when test="positionId == 1">
                SELECT DEALER_CODE
                FROM USER_ACCESS_DEALER
                WHERE USER_ID = #{userId}
            </when>
            <when test="positionId == 2">
                SELECT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                WHERE uar.USER_ID = #{userId}
            </when>
            <when test="positionId == 3">
                SELECT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uag.USER_ID = #{userId}
            </when>
            <when test="positionId == 4">
                SELECT DEALER_CODE
                FROM DEALER_INFO
            </when>
            <when test="positionId == 5">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_CITY uac ON di.CITY_ID = uac.CITY_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uac.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
            </when>
            <when test="positionId == 6">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_STATE uas ON di.STATE_ID = uas.STATE_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uas.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
            </when>
            <when test="positionId == 7">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uar.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
            </when>
            <otherwise>
                SELECT NULL FROM DUAL WHERE 1=0
            </otherwise>
        </choose>
    </select>

    <select id="getDealerNamesByCode" resultType="java.util.HashMap">
        SELECT
        DEALER_CODE,
        DEALER_NAME
        FROM DEALER_INFO
        WHERE DEALER_CODE IN
        <foreach item="code" collection="dealerCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
    </select>

    <!-- Get all dealer codes accessible to user -->
    <select id="getUserAccessibleDealersSummary" resultMap="conciseDealerInfoResultMap">
        SELECT di.DEALER_CODE,
        di.DEALER_NAME,
        dg.GROUP_NAME,
        di.CONTACT_NUMBER,
        di.EMAIL,
        di.OPERATION_AFTER_SALE,
        br.REGION_NAME as REGION,
        dos.DEALER_OPERATION_STATUS_NAME as OPERATION_STATUS_NAME,
        doss.DEALER_OPERATION_SERVICE_SCOPE_NAME as OPERATION_SERVICE_SCOPE_NAME,
        emp.BYD_EMPLOYEE_NAME as REGIONAL_MANAGER_NAME
        FROM DEALER_INFO di
        LEFT JOIN DEALER_GROUP dg ON di.GROUP_ID = dg.GROUP_ID
        LEFT JOIN BYD_REGION br ON di.REGION_ID = br.REGION_ID
        LEFT JOIN DEALER_OPERATION_STATUS dos ON di.OPERATION_STATUS_ID = dos.DEALER_OPERATION_STATUS_ID
        LEFT JOIN DEALER_OPERATION_SERVICE_SCOPE doss ON di.OPERATION_SERVICE_SCOPE_ID = doss.DEALER_OPERATION_SERVICE_SCOPE_ID
        LEFT JOIN BYD_EMPLOYEE emp ON di.REGIONAL_MANAGER_ID = emp.BYD_EMPLOYEE_ID
        <where>
            <choose>
                <when test="positionId == 1">
                    di.DEALER_CODE IN (
                    SELECT DEALER_CODE
                    FROM USER_ACCESS_DEALER
                    WHERE USER_ID = #{userId}
                    )
                </when>
                <when test="positionId == 2">
                    di.REGION_ID IN (
                    SELECT REGION_ID
                    FROM USER_ACCESS_REGION
                    WHERE USER_ID = #{userId}
                    )
                </when>
                <when test="positionId == 3">
                    di.GROUP_ID IN (
                    SELECT GROUP_ID
                    FROM USER_ACCESS_GROUP
                    WHERE USER_ID = #{userId}
                    )
                </when>
                <when test="positionId == 4">
                    1=1
                </when>
                <when test="positionId == 5">
                    di.CITY_ID IN (
                    SELECT CITY_ID
                    FROM USER_ACCESS_CITY
                    WHERE USER_ID = #{userId}
                    )
                    AND di.GROUP_ID IN (
                    SELECT GROUP_ID
                    FROM USER_ACCESS_GROUP
                    WHERE USER_ID = #{userId}
                    )
                </when>
                <when test="positionId == 6">
                    di.STATE_ID IN (
                    SELECT STATE_ID
                    FROM USER_ACCESS_STATE
                    WHERE USER_ID = #{userId}
                    )
                    AND di.GROUP_ID IN (
                    SELECT GROUP_ID
                    FROM USER_ACCESS_GROUP
                    WHERE USER_ID = #{userId}
                    )
                </when>
                <when test="positionId == 7">
                    di.REGION_ID IN (
                    SELECT REGION_ID
                    FROM USER_ACCESS_REGION
                    WHERE USER_ID = #{userId}
                    )
                    AND di.GROUP_ID IN (
                    SELECT GROUP_ID
                    FROM USER_ACCESS_GROUP
                    WHERE USER_ID = #{userId}
                    )
                </when>
            </choose>
        </where>
    </select>

    <select id="getUserAccessibleCommercialPolicyDealerCodes" resultType="string">
        <choose>
            <when test="positionId == 1">
                SELECT di.DEALER_CODE
                FROM USER_ACCESS_DEALER uad
                JOIN DEALER_INFO di ON uad.DEALER_CODE = di.DEALER_CODE
                WHERE uad.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 2">
                SELECT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                WHERE uar.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 3">
                SELECT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uag.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 4">
                SELECT DEALER_CODE
                FROM DEALER_INFO
                WHERE OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 5">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_CITY uac ON di.CITY_ID = uac.CITY_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uac.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 6">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_STATE uas ON di.STATE_ID = uas.STATE_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uas.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <when test="positionId == 7">
                SELECT DISTINCT di.DEALER_CODE
                FROM DEALER_INFO di
                INNER JOIN USER_ACCESS_REGION uar ON di.REGION_ID = uar.REGION_ID
                INNER JOIN USER_ACCESS_GROUP uag ON di.GROUP_ID = uag.GROUP_ID
                WHERE uar.USER_ID = #{userId}
                AND uag.USER_ID = #{userId}
                AND di.OPERATION_AFTER_SALE = 'YES'
            </when>
            <otherwise>
                SELECT NULL FROM DUAL WHERE 1=0
            </otherwise>
        </choose>
    </select>

</mapper>